*{
    box-sizing: border-box;
    padding: 0;
    margin: o;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --primary-color: #66fcf1;
    --secondary-color: #1f2833;
    --text-color: #c5c6c7;
}
body{
background-color: var(--secondary-color);
color: var(--text-color);
      font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding: 0;
    margin: o;
    text-align: center;
    justify-content: center;

}
.text{
    color: #fff;
}
.contact{
    justify-content: center;
align-items: center;
}
.form{
    width: 400px;
    color: #fff;
background-color: #1e1e1e;
border-radius: 10px;

  justify-content: center; /* Centre horizontalement */
  align-items: center;    /* Centre verticalement */
 

   margin: 15px;
    padding: 15px;
    box-shadow: 10px 12px 8px rgba(231, 231, 250, 0.1);
}
.form img{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.form button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
}
a{
    text-decoration: none;
    color: black;
}
input{
    align-items: center;
    justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
button{

    background-color: var(--primary-color);
    border: none;
    font-weight: bolder;
    width: 200px;
    height: 60px;
    color: black;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}
.cv{
    color: black;
}
.main h2{
    text-decoration: none;
}
.main img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: center;
}
.container1{
    gap: 30px;
}

.tel {
    gap: 30px;
}
.tel .reseau{
  
    width: 40px;
    height: 40px;
    margin: 10px;
}
.tel button{
    background-color: transparent;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.tel button:hover{
    background-color: #fff;
    transition: 0.3s;
}

h2{
    color: var(--primary-color);
    text-decoration: underline;
}
h3{
   color: #fff;
}
span{
    color: var(--primary-color);
}
button .download{
    width: 20px;
    height: 20px;
}
@media screen  and (max-width: 420px) {
.main{
    text-align: center;
    justify-content: center;
    align-items: center;
}
    .container {
        flex-direction: column;
        gap: 20px;
    }
    
}

@media screen  and (max-width: 600px) {
.main{
    text-align: center;
    justify-content: center;
}
    .container {
        flex-direction: column;
        gap: 20px;
    }
    
}
@media screen  and (max-width: 680px) {
.main{
    text-align: center;
    justify-content: center;
}
    .container {
        flex-direction: column;
       font-size: 14px;
    }
    
}
@media screen  and (max-width: 720px) {
.main{
    text-align: center;
    justify-content: center;
}
    .container {
      
display: block;
        gap: 10px;
    }
    
}
@media screen  and (max-width: 940px) {
.main{
    text-align: center;
    justify-content: center;
}
    .container {
      
   flex-direction: column;
        gap: 10px;
    }
    
}